       .navbar{
               width:100%;
               height:90px;
               background-color:#bb002f;
               position: absolute;
               top:0px;
               left:0px;
               right:0px;
               }

     .roseapple{
                position:absolute;
                top:10px;
                left:20px;
                width:70px;
                height:70px;
               }

            /*nav bar items start*/
            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                overflow: hidden;
                position:absolute;
                top:20px;
                left:100px;
               }

            li {
                float: left;
               }

          li a {
                display: block;
                color: white;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
                border-right:thin solid;
                border-right-color:lightgray;
                font-size:17px;
                font-family: Calibri;
               }
            /*nav bar items end*/

/* Touch anything above this comment and you will regret it */

        .title {
                font-size: 40px;
                width:350px;
                font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
                font-weight:500;
                position:absolute;
                top:140px;
                left:190px;
                text-align: center;
               }


     .subHeader{
                position:absolute;
                top:180px;
                font-family: Calibri;
                font-weight: 100;
                font-size: 25px;
                color:#686868;
                padding-left:60px;   
               }

  .subSubheader{
                position:absolute;
                top:280px;
                font-family: Calibri;
                font-weight: 100;
                font-size: 17px;
                color:#808080;
                padding-left:60px;
               }
